.nav-link {
  background-color: beige;
  color:white;
  padding:20px;
  border-radius: 3rem;
  display:flexbox;
  justify-content: space-between;
}

.nav-link:hover {
  color:blue;
  font-size:large;
  font-family: fantasy;
}

.books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
